<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>
        后台管理
    </title>
    <script src="/javascripts/jquery.js"></script>
    <script src="/vuejs/vue.js"></script>


    <link rel='stylesheet' href='/stylesheets/responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
</head>

<body>
    <div class="container">
        <%- include ../header.ejs %>
            <div class="row mainbody admin">
                <div class="admin_wrap">
                    功能分类:
                    <a href="/type">模块管理</a>
                    <a href="/manage">文章管理</a>
                    <a href="/photo">相册管理</a>
                </div>
            </div>
            <%- include ../footer.ejs %>
    </div>
</body>

</html>