<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/photo.css' />
</head>

<body>
    <%- include ../header.ejs %>
        <div id="container">
            <div class="describe">
                <input id="title" type="text" placehoder="照片描述" />
            </div>
            <div class="upload">
                <input id="img_upload" type="file" />
                <img src="" id="img" alt="">
            </div>
            <div>
                <input type="button" id="submit" value="提交" />
            </div>
        </div>
        <%- include ../footer.ejs %>

</body>

</html>
<script src='/javascripts/upload.js'></script>