<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=yes" />
<meta name="msapplication-tap-highlight" content="no" />

<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/responsive.css' />
<link rel="stylesheet" href="/stylesheets/aside.css" />
<link rel='stylesheet' href='/stylesheets/common.css' />
<!--<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>-->



<aside class="right">
    <div class="wrapper">
        <div class="avatar"><i><img src="/images/avatar/avatar01.jpg" alt="头像" /></i></div>
        <p class="motto">心怀感恩,一路前行!</p>

    </div>
    <div class="row clear">
        <div class="wrapper col-sm-12" style="display:block;" id="search">
            <h4>搜索</h4>
            <input type="text" placeholder="输入查找的内容" name="search" value="" />
            <input type="button" name="search" value="站内查询" class="button" />

        </div>

    </div>

    <div class="wrapper sort">
        <h4>文章分类</h4>
        <div class="types">
            <ul class="web ">

            </ul>
            <ul class="life l">

            </ul>

        </div>
    </div>

    <div class="wrapper">
        <h4>近期文章</h4>
        <ol class="recent_article">

        </ol>
    </div>
    <div class="wrapper">
        <h4>热门文章</h4>
        <ol class="hot_article">
        </ol>
    </div>
</aside>