<link rel="stylesheet" href="/stylesheets/footer.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=yes" />
<meta name="msapplication-tap-highlight" content="no" />

<link rel="stylesheet" href="/stylesheets/common.css" />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/responsive.css' />

<script src="/vuejs/vue.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/common.js"></script>
<div>
    <div class="top">
        <a href="#header" id="btn"></a>
    </div>
    <footer>design by 林思梅</footer>
</div>