<link rel="stylesheet" href="/stylesheets/footer.css">
<script src="/javascripts/common.js"></script>
<div>
    <div class="top">
        <a href="#header" id="btn"></a>
    </div>
    <footer>design by 林思梅</footer>
</div>
