<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="format-detection" content="telephone=yes" />
<meta name="msapplication-tap-highlight" content="no" />

<!--<link rel="stylesheet" href="/stylesheets/header.css" />-->
<link rel="stylesheet" href="/stylesheets/common.css" />

<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/responsive.css' />
<script src="/vuejs/vue.js"></script>
<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>>

<script src="/javascripts/common.js"></script>
<script src="/javascripts/jquery.js"></script>
<header>
    <div class="row">
        <div id="header">
            <div class="avatar"><i><img src="/images/avatar/avatar01.jpg" /></i></div>
            <h1>林思梅的博客</h1>
            <p>My study,my life,my whole world!</p>
            <div class="loginStatus clear">
                <a href="/account/">注册</a>|
                <a href="/account/login">登录</a>|
                <a href="/article/create">发表文章</a>|
                <a href="/account/login">退出登录</a>
            </div>
        </div>
    </div>

    <div class="row">
        <nav class="navbar navbar-default clear">
            <div class="container-fluid" id="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header clear">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a class="on" href="/">首页</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav clear">
                        <!--<li class="active"><a href="/">首页</a></li>-->
                        <li><a href="/web">关于前端</a></li>
                        <li><a href="/life">关于生活</a></li>
                        <li><a href="/feeling">关于心情</a></li>
                        <li><a href="/introduction">关于我</a></li>
                        <li><a href="/photo">相册</a></li>
                        <li><a href="/comment">留言板</a></li>
                        <li><a href="/admin">功能管理</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>


</header>
<script src="/javascripts/header.js"></script>