<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>
        林思梅的博客
    </title>
    <link rel='stylesheet' href='/stylesheets/responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/vuejs/vue.js"></script>
</head>

<body>
    <div class="container">
        <%- include header.ejs %>
            <section class="row mainbody clear">
                <div class="col-lg-9 col-md-9 col-sm-12 clear">
                    <div class="left ">
                        <div class="banner">
                            <h3>最新照片</h3>
                            <ul class="photo">
                            </ul>
                            <ul class="order">
                            </ul>
                        </div>
                        <article class="bloglist">
                            <h3><span>推荐</span>文章</h3>
                            <div class="blogs" v-for="blog in blogs">
                                <h4>{{blog.title}}</h4>
                                <div class="content" v-html="blog.content"></div>
                                <a v-bind:href="'/article/content?id='+blog._id">阅读全文》</a>
                                <p><span>作者:{{blog.author}} </span> <span>浏览:({{blog.views}})</span> <span class="dateview">{{new Date(blog.submitTime).format('yyyy-MM-dd')}}</span> </p>

                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <%- include aside.ejs %>
                </div>
            </section>
            <%- include footer.ejs %>

    </div>



</body>

</html>

<script src="/javascripts/index.js"></script>
<script src="/javascripts/recommend.js"></script>