<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/introduction.css' />
</head>

<body>
    <%- include header.ejs %>
        <section id="mainbody">
            <div class="left">
                <h3>Just something about me</h3>
                <p>
                    关于我？<br> 非典型90后宅女；<br>强迫症纠结癌重度患者； <br>思绪天马行空的伪文艺女青年；<br>

                </p>


            </div>


            <aside class="right">

                <div class="avatar"><img src="/images/avatar/avatar01.jpg" alt="头像"></div>
                <p>心怀感恩,一路前行!</p>

                <div class="info">
                    姓名：林思梅 </br> 籍贯：广东汕尾</br> 爱好：研究美食，k歌，看电影</br> QQ：2021198996 </br> 邮箱：<a href="mailto:2021198996@qq.com">2021198996@qq.com</a></br>
                    github 地址: <a href="https://github.com/linsimei">https://github.com/linsimei</a>


                </div>
            </aside>
        </section>
        <%- include footer.ejs %>
</body>

</html>
<script src="/javascripts/header.js"></script>