<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/article.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/wangEditor/js/wangEditor.min.js"></script>
    <link rel="stylesheet" href="/wangEditor/css/wangEditor.css" />
</head>

<body>
    <%- include ../header.ejs %>

        <form method="post" action="/article/modify" class="create">
            <ul id="type">

            </ul>

            <div id="child">
            </div>
            <input type="hidden" name="id" id="id_hidden" value="" />
            <input type="hidden" name="type" id="type_hidden" value="" />
            <input placeholder="作者" type="text" name="author" id="author" />
            <input placeholder="文章标题" type="text" name="title" id="title" />
            <textarea name="content" id="content" placeholder="输入文章内容"></textarea>
            <input type="submit" class="button" />
        </form>
        <%- include ../footer.ejs %>
</body>

</html>
<script src="/javascripts/modify.js"></script>