<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>
        有关前端
    </title>
    <script src="/javascripts/jquery.js"></script>
    <script src="/vuejs/vue.js"></script>
    <script src="/javascripts/aside.js"></script>

    <script src="/javascripts/web.js"></script>




    <link rel='stylesheet' href='/stylesheets/responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />




</head>

<body>


    <div class="container">
        <%- include ../header.ejs %>
            <div class="mainbody clear">
                <ul class="module clear">
                    <li v-for="type in types " v-on:click="type_click(type._id) " v-bind:class="{ active: type._id===currentType } "><a href="javacript:; ">{{type.name}}</a></li>
                </ul>
                <div class="row">
                    <article class="col-lg-9 col-md-9 col-sm-12">
                        <div class="left">
                            <div class="blogs" v-for="article in articles">
                                <a v-bind:href="'/article/content?id='+article._id">
                                    <h3 class="title">
                                        {{article.title}}
                                    </h3>
                                </a>
                                <div class="info">
                                    <span>发布时间:{{new Date(article.submitTime).format('yyyy-MM-dd')}}</span>
                                    <span>作者:{{article.author}}</span>
                                    <span>分类:[]</span>

                                </div>
                                <div class="content" v-html="article.content">
                                </div>
                                <a class="read_all" v-bind:href="'/article/content?id='+article._id">阅读全文>></a>

                            </div>
                        </div>
                    </article>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <%- include ../aside.ejs %>
                    </div>

                </div>

            </div>

            <%- include ../footer.ejs %>
    </div>
</body>

</html>