<!DOCTYPE html>
<html>

<head>
    <title>
        博客列表
    </title>

    <link rel='stylesheet' href='/stylesheets/web.css' />
    <script src="/vuejs/vue.js"></script>

</head>

<body>
    <%- include ../header.ejs %>

        <div id="mainbody">
            <ul class="module">
                <li v-for="type in types" v-on:click="type_click(type._id)" v-bind:class="{ active: type._id === currentType }"><a href="javacript:;">{{type.name}}</a></li>
            </ul>
            <div class="container">
                <article class="left">
                    <div class="blogs" v-for="article in articles">
                        <a v-bind:href="'/article/content?id='+article._id">
                            <h3 class="title">
                                {{article.title}}
                            </h3>
                        </a>
                        <div class="info">
                            <span>发布时间:{{article.submitTime}}</span>
                            <span>作者:林思梅</span>
                            <span>分类:[前端/Javascript/jQuery]</span>

                        </div>
                        <div id="content" v-html="article.content">
                        </div>
                        <a class="read_all" v-bind:href="'/article/content?id='+article._id">阅读全文>></a>
                    </div>
                    <div class="pagination-nick"></div>
                </article>
                <aside class="right">
                    <div class="search">
                        <h3>搜索</h3>
                        <input type="text" placeholder="输入查找的内容" name="search" value=""> <input type="button" name="search" value="站内查询" class="button">
                    </div>
                    <div class="article_tag ">
                        <h3>标签</h3>
                        <div class="blank"></div>
                    </div>
                    <div class="recent_article">
                        <h3>近期文章</h3>
                        <div class="blank"></div>
                    </div>
                    <div class="article_save">
                        <h3>文章归档</h3>
                        <div class="blank">
                        </div>
                    </div>
                    <div class="recent_comments">
                        <h3>近期评论</h3>
                        <div class="blank"></div>
                    </div>
                </aside>
            </div>
        </div>

        <%- include ../footer.ejs %>
</body>

</html>

<script src="/javascripts/web.js"></script>
<script>
    $(".pagination-nick").load("/html/page.html");
</script>