                            * {
                                margin: 0;
                                padding: 0;
                            }
                            
                            #mainbody {
                                width: 1200px;
                                margin: 20px auto;
                                border: 1px solid #ccc;
                                padding: 20px;
                            }
                            
                            .container {
                                width: 30%;
                                margin: 20px auto;
                                border: 1px solid #ccc;
                                padding: 20px;
                            }
                            /*模块分类:*/
                            
                            #mainbody .container a {
                                display: block;
                                margin: 10px;
                                border: 1px solid #ccc;
                                padding: 10px;
                                text-decoration: none;
                                text-align: center;
                                color: #299983;
                            }
                            
                            #mainbody .container a:hover {
                                background: #299983;
                                color: #fff;
                            }
                            /*模块管理:*/
                            
                            .container .add {
                                background: #299983;
                                color: #fff;
                                padding: 5px 10px;
                                border-radius: 5px;
                                text-decoration: none;
                            }
                            
                            .container .add:hover {
                                font-weight: bolder;
                            }
                            
                            .container table {
                                border-collapse: collapse;
                                margin: 20px auto;
                            }
                            
                            .container table tr,
                            th,
                            td {
                                border: 1px solid #ccc;
                                text-align: center;
                                padding: 8px;
                            }
                            
                            .container table a {
                                text-decoration: none;
                                text-align: center;
                                color: #299983;
                            }
                            
                            .container table a:hover {
                                background: #299983;
                                color: #fff;
                            }
                            /*模块添加操作页面:*/
                            
                            .container form {
                                text-align: left;
                                margin: 20px;
                            }
                            
                            .container form div {
                                margin: 20px;
                            }
                            
                            .container form div select,
                            input {
                                padding: 8px;
                            }
                            
                            .container form .button {
                                margin-left: 20px;
                                padding: 5px 10px;
                                background: #299983;
                                color: #fff;
                            }
                            
                            .container form .button:hover {
                                font-weight: bold;
                            }