* {
    margin: 0;
    padding: 0;
}

body {
    background: #efedee;
}

.container {
    font: 14px "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

li {
    list-style: none;
}