.content_wrap {
    display: inline-block;
    position: relative;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}

.blogs_content .content_wrap .article {
    border-radius: 15px;
    text-align: left;
    padding: 20px 10px;
    color: #666666;
    background: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.blogs_content .article .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #299983;
    cursor: pointer;
    text-align: center;
}

.blogs_content .article a {
    text-decoration: none;
    text-align: center;
}

.blogs_content .article #content {
    margin: 10px auto;
    text-indent: 2em;
    line-height: 28px;
    word-wrap: break-word;
}

.blogs_content .article #content p {
    margin: 16px 0;
    text-indent: 2em;
}

.blogs_content .article .info {
    margin: 30px;
    padding: 5px;
    text-align: center;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.blogs_content .article .info span {
    margin: 60px;
}

.blogs_content .right {
    display: inline-block;
}