.introduction .left {
    width: 73%;
    height: 800px;
    margin: 20px auto;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    background: #fff;
}

.introduction .left:hover {
    border: 1px solid #299983;
    box-shadow: 1px 1px 1px 1px #299983;
}

.introduction .left h3 {
    color: #299983;
    font-size: 36px;
    padding: 10px;
    text-align: center;
}

.introduction .left p {
    color: #666666;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.introduction .right {
    display: inline-block;
    margin: 10px auto;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #AAAAAA;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInRight;
    color: #666666;
    background: #fff;
}

.introduction .right:hover {
    border: 1px solid #299983;
    box-shadow: 1px 1px 1px 1px #299983;
}

.introduction .right .info {
    text-align: left;
    font-size: 16px;
    padding: 15px;
    line-height: 40px;
}

.introduction .right .info a {
    color: #299983;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}