/*相册列表页面*/

.photo {
    width: 100%;
    margin: 20px auto;
}

.photo .top {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #ccc;
}

.photo.photo h3 {
    margin: 40px auto;
    color: #299983;
    text-align: center;
    letter-spacing: 10px;
}

.photo .sub_title {
    color: #299983;
    font-size: 16px;
    float: left;
}

.photo button {
    width: 120px;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #aaaaaa;
    float: right;
}

.photo .upload {
    text-decoration: none;
    color: #000;
}

.photo .upload:hover {
    font-weight: bold;
}

.photo .photo_wrapwrap {
    width: 1200px;
    margin: 20px auto;
    background: #fff;
}

.photo .photo {
    float: left;
    width: 350px;
    height: 300px;
    position: relative;
    margin: 15px;
}

.photo .photo i {
    float: left;
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.photo img {
    display: inline-block;
    width: 100%;
}

.photo img:hover {
    -moz-animation: rotate 1s linear;
    -webkit-animation: rotate 1s linear;
    animation: rotate 1s linear;
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.photo .wrap .info span {
    margin-right: 15px;
    color: #666666;
}


/*照片上传页面*/

photo_upload .describe {
    padding: 10px 0;
    margin: 10px auto;
    margin-bottom: 2px;
}

photo_upload .describe #title {
    width: 320px;
    padding: 5px 0;
    margin: 10px auto;
    margin-bottom: 2px;
}

photo_upload #img_upload {
    margin-bottom: 15px;
}

photo_upload #submit {
    width: 120px;
    padding: 5px 0;
    border-radius: 5px;
    margin: 10px auto;
    background: #299983;
    color: #fff;
}