.login form {
    width: 320px;
    background: #fff;
    padding: 20px 10px;
    margin: 150px auto;
    position: relative;
}

.login .login form .status {
    font-size: 24px;
    color: #AAAAAA;
    font-weight: bold;
    text-align: center;
}

.login form .status a {
    font-size: 24px;
    color: #AAAAAA;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.login form .status a.on {
    color: #299983;
}

.login form div {
    width: width;
    margin: 20px auto;
    text-align: center;
}

.login form div input {
    width: 300px;
    height: 30px;
    padding: 5px;
}

.login form .button {
    background: #299983;
    width: 300px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login form p {
    margin: 10px;
}

.login form p .homepage {
    color: #299983;
    text-align: right;
    float: right;
}

.login form p .login_err {
    color: #299983;
    margin: 10px;
    text-align: left;
}