<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />

    <title>博客首页</title>

    <!--link rel="stylesheet" href="/stylesheets/style.css" /-->

    <!--
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />-->
    <link rel='stylesheet' href='/stylesheets/responsive.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <!--script src="/vuejs/vue.js"></script-->
    <!--<script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>-->
</head>

<body>

    <div class="container">
        <div class="row">
            <div id="banner">
                <div class="avatar"><i><img src="/images/avatar/avatar01.jpg" /></i></div>

            </div>
        </div>

        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">首页</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">关于前端 </a></li>
                            <li><a href="#">关于生活</a></li>
                            <li><a href="#">关于心情</a></li>
                            <li><a href="#">关于我</a></li>
                            <li><a href="#">相册</a></li>
                            <li><a href="#">留言板</a></li>
                            <li><a href="#">功能管理</a></li>
                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">111</div>
            <div class="col-lg-3 col-md-3 col-sm-12 right">
                <aside class="right">
                    <div class="wrapper">
                        <div class="avatar"><img src="/images/avatar/avatar01.jpg" alt="头像"></div>
                        <p class="motto">心怀感恩,一路前行!</p>

                    </div>
                    <div class="wrapper" id="search">
                        <h3>搜索</h3>
                        <input type="text" placeholder="输入查找的内容" name="search" value="">
                        <input type="button" name="search" value="站内查询" class="button">
                    </div>

                    <div class="wrapper">
                        <h3>文章分类</h3>
                        <div class="types">
                            <ul class="web">前端文章分类:
                                <li><a href="/web/get_articles?id=5922ef868eef711828eae63c"> HTML/CSS<span>(8)</span></a></li>
                                <li><a href="/web/get_articles?id=59244614f0ccdc1c60002c1a"> HTML5/CSS3<span>(10)</span></a></li>
                                <li><a href="/web/get_articles?id=59244786f0ccdc1c60002c1b"> JavaScript/jQuery<span>(17)</span></a></li>
                                <li><a href="/web/get_articles?id=59244823f0ccdc1c60002c1c"> 网站综合实例<span>(6)</span></a></li>
                                <li><a href="/web/get_articles?id=5924483df0ccdc1c60002c1d"> 其他有关内容<span>(6)</span></a></li>
                            </ul>
                            <ul class="life">生活文章分类:
                                <li><a href="/life/get_articles?id=592438031d529e39d4cd87fe"> 生活这件小事<span>(6)</span></a></li>
                                <li><a href="/life/get_articles?id=59244868f0ccdc1c60002c1e"> 和黄木木的平淡小生活<span>(10)</span></a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="wrapper">
                        <h3>近期文章</h3>
                        <ol class="recent_article">
                            <li><a href="/article/content?id=5938f5010b99ab18683f459e"> yiyi</a></li>
                            <li><a href="/article/content?id=592bb55de012983720a44541"> 卡佛塞得十分感动螺蛳粉光盘的感觉破规矩</a></li>
                            <li><a href="/article/content?id=592cea7782dbbb3648d530dc"> 标题</a></li>
                            <li>
                                <a href="/article/content?id=592cf87377b8ee269c189110"> </a>
                            </li>
                            <li><a href="/article/content?id=592cfba8e5e4772d30f8fb3e"> tyu7it7</a></li>
                            <li><a href="/article/content?id=592f787b17169f1c54c55c96"> HTTP请求（GET与POST区别）和响应 </a></li>
                            <li><a href="/article/content?id=593022b90aeb1f098845662b"> 回复回复更好</a></li>
                            <li><a href="/article/content?id=59356f2187911118e485a04e"> 是帝国时代</a></li>
                            <li><a href="/article/content?id=592ba6984e163733e0925469"> ji里啊哈家发生的发生纠纷</a></li>
                            <li><a href="/article/content?id=5934f2c860c7bb448cfdb483"> 说话</a></li>
                        </ol>
                    </div>
                    <div class="wrapper">
                        <h3>热门文章</h3>
                        <ol class="hot_article">
                            <li><a href="/article/content?id=592ae8d5a91dae0988ffc774"> fi日一日通人同意</a></li>
                            <li><a href="/article/content?id=592ba6984e163733e0925469"> ji里啊哈家发生的发生纠纷</a></li>
                            <li><a href="/article/content?id=592bb55de012983720a44541"> 卡佛塞得十分感动螺蛳粉光盘的感觉破规矩</a></li>
                            <li><a href="/article/content?id=592cea7782dbbb3648d530dc"> 标题</a></li>
                            <li>
                                <a href="/article/content?id=592cf87377b8ee269c189110"> </a>
                            </li>
                            <li><a href="/article/content?id=592cfba8e5e4772d30f8fb3e"> tyu7it7</a></li>
                            <li><a href="/article/content?id=592f787b17169f1c54c55c96"> HTTP请求（GET与POST区别）和响应 </a></li>
                            <li><a href="/article/content?id=593022b90aeb1f098845662b"> 回复回复更好</a></li>
                            <li><a href="/article/content?id=592ae8f6a91dae0988ffc775"> 驲人头如有一腿同意u与哦他哟遇罗克还借款用途</a></li>
                            <li><a href="/article/content?id=5934f2c860c7bb448cfdb483"> 说话</a></li>
                        </ol>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

</body>

</html>